<footer>
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © crainnogao2016</span>
            <span><a href="/crainnogao/admin/crainnogao_ad">后台登录</a></span>
        </div>
    </div>
</footer>