<header>
    <div class="navbar-fixed">
        <nav class="index-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/crainnogao/?pageNum=1">
                        <img src="/images/crainnogao.png" alt="">
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/crainnogao/?pageNum=1">首页</a></li>
                        <li><a href="/crainnogao/documents">归档</a></li>
                        <li><a href="/crainnogao/about">关于</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>