#set($layout="layout/layout_ad.vm")
#set( $page_title = "crainnogao后台管理首页")
<div id="container_ad" class="display-nav">
    <div id="canvas">
        <div id="nav" >
            <h2 id="title"><i class="fa fa-sitemap"></i> MENU</h2>
            <ul id="toggle">
                <li>
                    <div class="active border">
                        <span></span>   <a class="active1" href="#">发表日志&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </li>
                <li>
                    <div class="border">
                        <span></span>   <a class="" href="#">查看日志</a>
                    </div>
                </li>
                <li>
                    <div class="border">
                        <span></span>   <a class="" href="#">用户管理</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
        <div class="libiao listmenu col-lg-12 issuedairys">
            #parse("pages/admin/issuedairys.vm")
        </div>
        <div class="libiao listmenu">
            #parse("pages/admin/dairys.vm")
        </div>

        <div class="libiao listmenu">
            #parse("pages/admin/userInfo.vm")
        </div>
    </div>
</div>