
<input type="hidden" name="totalPage" id="totalPage" value="$listlogs.getTotalPage()"/>
<input type="hidden" name="totalRecord" id="totalRecord" value="$listlogs.getTotalRecord()"/>
<div class="tab-container">
    <div id="ajshow0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>日志ID</th>
            <th>主题</th>
            <th>概要</th>
            <th>上传时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="abc">
                #foreach($logs in $listlogs.getDataList())
                <tr data-id="$!{logs.logId}" class="logId">
                    <td>$!{logs.logId}</td>
                    <td>$!{logs.logTitle}</td>
                    <td>$!{logs.logSummary}</td>
                    <td>#dateTimeText($!{logs.logCreated},'yyyy-MM-dd HH:mm')</td>
                    <td>#dateTimeText($!{logs.logUpdate},'yyyy-MM-dd HH:mm')</td>
                    <td>
                        <a class="delete-$foreach.index">删除</a>
                        <a class="edit-$foreach.index">编辑</a>
                    </td>
                </tr>
                #end

        </tbody>
    </table>
    </div>
    <div class="fenye">
        <div class="tcdPageCode"></div>
    </div>
</div>