<div class="tab-container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>日志ID</th>
            <th>主题</th>
            <th>概要</th>
            <th>上传时间</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        #foreach($logs in $listlogs)
        <tr>
            <td>$!{logs.logId}</td>
            <td>$!{logs.logName}</td>
            <td>$!{logs.logSummary}</td>
            <td>#dateTimeText($!{logs.logCreated},'yyyy-MM-dd HH:mm:ss')</td>
            <td>#dateTimeText($!{logs.logUpdate},'yyyy-MM-dd HH:mm:ss')</td>
            <td>操作</td>
        </tr>
        #end
        </tbody>
    </table>
</div>