#set($layout="layout/layout_ad.vm")
#set( $page_title = "crainnogao后台管理首页")


<ul>
    <li><a class="b active">list item 1</a></li>
    <li><a class="b">list item 2</a></li>
    <li><a class="b">list item 3</a></li>
    <li><a class="b">list item 4</a></li>
    <li><a class="b">list item 5</a></li>
</ul>