#set($layout="layout/layout.vm")
#set( $page_title = "crainnogao")

<div class="page-group">
    <div id="containerauto">
        <div id="strip">
        <span class="more">
            <a href="javascript:" class="toggle right" id="menu-toggle2">
                <i class="material-icons">more_vert</i>
            </a>
            <ul class="menu" data-menu data-menu-toggle="#menu-toggle2">
                <li><a href="/crainnogao/admin/crainnogao_ad">哈哈啦</a></li>
                <li class="menu-separator"></li>
                <li><a href="#">呵呵哒</a></li>
                <li><a href="#">噜啦啦</a></li>
            </ul>
        </span>
        </div>
        <img src="/images/logo.png" class="logo" />
        <div class="col-lg-12">
            <div id="wrapper">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                <div id="smoothmenu1">
                    <ul id="tab-menu" class="ddsmoothmenu">
                        <p class="yinxiang">crainnogao 印象</p>
                        #foreach($log in $logs)
                        <li>$!{log.logTitle}</li>
                        #end
                    </ul>
                </div>
                </div>
                <input type="hidden" id="count" value="$logs.size()"/>
                #foreach($log in $logs)
                <div class="col-lg-8">
                    <div class="board">
                        <div class="panel panel-default wenben">
                            <div class="panel-heading">
                                <strong>$!{log.logTitle}</strong>
                            </div>
                            <div class="panel-body">关键字：$!{log.logSummary}</div>
                            <div  class="contentshow"></div>
                            <input type="hidden" class="logContent" value="$!{log.logContent}"/>
                        </div>
                    </div>
                </div>
                #end
            </div>
        </div>
    </div>
</div>
