#set($layout="layout/layout.vm")
#set( $page_title = "crainnogao")

<input type="hidden" name="totalPage" id="totalPage" value="$logs.getTotalPage()"/>
<input type="hidden" name="totalRecord" id="totalRecord" value="$logs.getTotalRecord()"/>
<header>
    <div class="navbar-fixed">
        <nav class="index-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="">
                        <img src="/images/crainnogao.png" alt="">
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="">首页</a></li>
                        <li><a href="/crainnogao/about">关于</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div id="smoothmenu1">
                    #if($logs.getDataList().size()!=0)
                        <ul id="tab-menu" class="ddsmoothmenu">
                            <p class="yinxiang">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印象笔记</p>
                            <div id="ajshow">
                            #foreach($log in $logs.getDataList())
                                #set($count = $foreach.count*2 - 1)
                                <input type="hidden" name="logId-$count" id="logId-$count" value="$!{log.logId}">
                                <li class="logTitle">$!{log.logTitle}</li>
                            #end
                            </div>
                        </ul>
                        <div class="fenye">
                            <div class="tcdPageCode"></div>
                        </div>
                    #end
                    </div>
                </div>
                <div class="col-lg-9">
                    #if($logs.getDataList().size()==0)
                        <div>
                            对不起主人尚未有任何动态.....<br>感谢您的关注~~~
                        </div>
                    #end
                    #if($logs.getDataList().size()>0)
                        <div class="panel panel-default wenben">
                            <div id="firstshow">
                                <div class="panel-heading">
                                    <div class="col-lg-12">
                                    <span class="col-lg-8"><a href="/crainnogao/detail?logId=$logs.getDataList().get(0).logId"><blockquote>$logs.getDataList().get(0).logTitle</blockquote></a></span>
                                    <span class="col-lg-4">#dateTimeText($logs.getDataList().get(0).logCreated,'yyyy-MM-dd HH:mm')</span>
                                    </div>
                                </div>
                                <div id="firstlog"></div>
                                <div class="panel-footer"><span>关键字：$logs.getDataList().get(0).logSummary</span></div>
                            </div>
                            <input type="hidden" name="logcontentfir" id="logcontentfir" value="$logs.getDataList().get(0).logContent">
                            <div id="logshow"></div>

                        </div>
                    #end
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © crainnogao2016</span>
            <span><a href="/crainnogao/admin/crainnogao_ad">后台登录</a></span>
        </div>
    </div>
</footer>