#set($layout="layout/layout.vm")
#set( $page_title = "detail")
<header>
    <div class="navbar-fixed">
        <nav class="index-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/crainnogao/">
                        <img src="/images/crainnogao.png" alt="">
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/crainnogao/">首页</a></li>
                        <li><a href="/crainnogao/documents">归档</a></li>
                        <li><a href="/crainnogao/about">关于</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-default">
                    <div class="panel-heading">
                        <div><strong>$!{logs.logTitle}</strong></div>
                    </div>
                    <div class="panel-body">关键字：$!{logs.logSummary}</div>
                    <div id="detaillog"></div>
                    <input type="hidden" name="detaillogcontentfir" id="detaillogcontentfir" value="$!{logs.logContent}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ds-thread" data-thread-key="$!{logs.logId}" data-title="$!{logs.logTitle}" data-url="/detail?logId=$!{logs.logId}"></div>
            </div>
        </div>
</main>

<footer>
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © crainnogao2016</span>
            <span><a href="/crainnogao/admin/crainnogao_ad">后台登录</a></span>
        </div>
    </div>
</footer>
