#set($layout="layout/layout.vm")
#set( $page_title = "documents")

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card white darken-2">
                    <div class="card-content black-text">
                        <blockquote>归档目录</blockquote>
                        <div class="collection">
                            #foreach($logList in $logsList)
                                <a class="collection-item" href="/crainnogao/detail?logId=$!{logList.logId}">#dateTimeText($!{logList.logCreated},'yyyy-MM-dd') $!{logList.getLogTitle()}</a>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
