body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    cursor: pointer;
}
/*管理界面样式start*/

/*header 样式 start*/
.navbar-fixed .index-nav {
    height: 120px !important;
}
.navbar-fixed nav{
    background-color: #f4f5ef;
}
.nav-wrapper ul li a{
    color: #00a8c6;
    font-size: 1.5em;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
}
header .container{
    width: 80% !important;
    height: 120px!important;
}
.avatar {
    width: 125px;
    height: 125px;
    float: left;
}
.avatar div {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 5px;
}
.avatar div img {
    width: 100%;
    height: auto;
}
nav ul li {
    margin-top: 58px;
}
/*header 样式 end*/
/*main 样式 start*/
main .container{
    width:90% !important;
    min-height: 600px;
}
main .container .row{
    width: 100%!important;
    margin-top: 8em!important;
}

/*.table {*/
    /*width: 80% !important;*/
    /*margin-left: 1% !important;*/
    /*height: 100%;*/
/*}*/
.tablepannel{
    width: 80%;
    margin: auto;
}
.ptitlt{
    font-size: 20px;
}
.libiao{
    display: none;
}
.issuedairys{
    display: block;
}
.tablepannel input{
    border: 1px solid #d4cccc!important;
    height: 50px;
}
.tp table td{
    padding: 0px 0px!important;
    /*height: 20px;*/
}
/*main 样式end*/
footer {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    height:50px;
    background-color: #1b1a1a;
    text-align: center;
    font-size: 17px;
    color: ghostwhite;
}
.tcdPageCode{padding: 15px 20px;text-align: center;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*管理界面样式 end*/

/*后台登录界面样式 start*/

.stitle span{
    color: black;
    font-family: "微软雅黑";
    font-size: 30px;
    padding-left: 30%;
}
.col-lg-8 ul{
    text-align: center;
    margin-top: 3em;
}
.col-lg-8 ul li{
    list-style-type: none;
    line-height: 5em;
}
.col-lg-8 ul li span{
    display: block;
}
input{
    width: 600px;
    height: 35px;
}
input[type=submit] {
}
.login_txtbx{
    padding: 0.85em 0.5em;
    width: 100%;
    background: transparent;
    color: #009688;
    font-size: 1.5em;
    opacity: 50;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border: 3px solid rgba(66, 61, 59, 0.37);
    border-left-style: none;
    border-right-style: none;
}
#codetext{
    width: 565px;
    float: left;
}
.valpic{
    margin-left: 2em;
    float: right;
}
img {
    margin-bottom: 2em;
}
.noclear{
    top: -6px;
    position: relative;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 20px;
    color:gray;
    font-family: "华文楷体";
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}

/*后台登录界面样式 end*/




